<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HTML Basics, Attributes and Links</title>
</head>
<body>
    <div class="profile-header">
        <img src="https://static.wikia.nocookie.net/amazons-the-boys/images/a/af/Deep_S4.jpg/revision/latest/scale-to-width-down/250?cb=20240429003919" alt="Profile Picture">
        <div>
    

    <h1>Jordan Micko Deloria</em> </h1>
    <h4>- Future Software Engineer </h4>

    <hr>

    <h4> [Description About me] </h4>
    <p> My name is Jordan Micko Deloria, I'm Passionate, Awkward but approachable </p>

    <hr>



    <h3>Educational Background </h3>

    <ul>
        <li>San Matias National Highschool: Highschool to Senior Highschool</li>
        <li>University of the Assumption: College</li>
    </ul>

    <hr>


    <h3>Hobbies</h3>

    <ul>
        <li>Graphic Designing</li>
        <li>Video Editing</li>
        <li>Gaming</li>
        <li>Badminton</li>
    </ul>

    <hr> 
    <h3>Projects</h3>

    <ul>
        <li>Python Color Game</li>
        <li>Rasberry Pi Motion Detector</li>
        <li>Figma Prototype Website</li>
        <li>Product Poster</li>
        <li>Video Anime Edit</li>

    </ul>



        <hr>

        <h3>Technologies I use</h3>

        <ul>
            <li>Adobe After Effects</li>
            <li>Adobe Photoshop</li>
            <li>Figma</li>
            <li>DaVinci Resolve</li>
            <li>VScode</li>
            <li>PyCharm</li>
            <li>Microsoft</li>
            <li>Asepwrite</li>

    
        </ul>
        
        <hr>

        <h4> [Quote] </h4>
    <p>  If a God is a dog, and a man is a fraud
Then I'm a lost cause </p>

        


    

  
    
    
        
    


</body>
</html>